.categories {
    background-color: #afdbe6;
    width: 100%;
    height: 420px;
}

.categories-title {
    padding-left: 60px;
    color: rgb(73, 72, 72);
}

.line {
    margin: 20px 60px 20px 60px;
    height: 5px;
    background-color: #f4efca;
}

.authors-list {
    column-count: 4;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px 50px 10px 50px;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(73, 72, 72);
}

.author {
    width: 50%;
    list-style: none;
}

.categories-text {
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 40px;
    cursor: pointer;
}

.title {
    text-align: center;
    text-decoration: none;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(73, 72, 72);
    background-color: white;
    width: 200px;
    padding: 5px 1px 5px 1px;
}

.title:hover, .author:hover {
    font-weight: bolder;
    color: rgb(199, 24, 73);
}

.active {
    font-weight: bolder;
    color: rgb(199, 24, 73);
}

.price-input {
    width: 50%;
    display: flex;
    margin-left: 60px;
}

.m-title {
    color: white;
    font-weight: bolder;
}

.price-input .field {
    display: flex;
    padding: auto;
    width: 200px;
    height: 25px;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
}

.price-input .separator {
    color: white;
    width: 100px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.find-btn {
    text-align: center;
    text-decoration: none;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(73, 72, 72);
    color: #f4efca;
    width: 150px;
    padding: 5px 1px 5px 1px;
    font-weight: bolder;
    background-color: rgb(199, 24, 73);
    float: right;
    margin-top: -20px;
    margin-right: 60px;
}

.find-btn:hover {
    background-color: rgb(95, 93, 93);
}

.header-price-book {
    color: green;
}

.header-amount-book {
    color: red;
}
.searchBox{
    width: 320px;
    background-color: #fff;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.resultBox ul{
    border-top: 1px solid #999;
    padding: 15px 10px;  
}
.resultBox ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.resultBox ul li:hover {
    background-color: #e9f3ff;
}